.note-card ol ,
.note-card .footnotes ol {
  list-style: revert;
  padding: revert;
  margin: revert;
  word-break: break-all;
}

.note-card .footnotes ol {
  opacity: 0.5;
}

.tooltip{
  visibility: hidden;
  position: absolute;
}

.has-tooltip:hover .tooltip {
  visibility: visible;
  z-index: 100;
}
