<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ .Title }} | burned.money</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/tailwind.css" rel="stylesheet">
    <link href="/static/css/app.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/androidstudio.min.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script src="https://unpkg.com/highlightjs-copy/dist/highlightjs-copy.min.js"></script>
    <link rel="stylesheet" href="/static/css/hljs-copy.css"/>
</head>
<body class="bg-slate-900 text-slate-400 flex flex-col min-h-screen font-mono">
    {{ template "header" . }}
    <main>
        {{ block "content" . }}{{ end }}
    </main>
    {{ template "footer" . }}
    <script>
      hljs.addPlugin(new CopyButtonPlugin());
      hljs.highlightAll();
    </script>
</body>
</html>

