{{ define "content" }}
<div class="lg:container mx-auto p-4">
  <div class="grid grid-cols-1">
    {{ $titlebg := "bg-emerald-800/30" }}
    {{ if .Losses }}
      {{ $titlebg = "bg-red-900/30" }}
    {{ end }}
    {{ if .Block.IsFutureBlock }}
      {{ $titlebg = "bg-sky-800/30" }}
    {{ end }}
    <div class="border rounded-lg border-slate-700 {{ $titlebg }} p-4">
      <h1 class="text-2xl font-semibold">Block #{{ .Block.BlockHeight }}</h1>
      <h3 class="text-lg font-mono break-words select-all">{{ .Block.BlockHash }}</h3>
      <h3 class="text-md font-mono">{{ .Block.BlockTimestamp.UTC }}{{ .Block.BlockTimestamp.UTC | TimeDisclaimer }}</h3>
      <h3 class="text-md font-mono">Burn Transactions: {{ .BlockSummary.LossOutputs }}</h3>
      {{ $burntext := "" }}
      {{ if .BlockSummary.TotalLost.Positive }}
        {{ $burntext = "🔥" }}
      {{ end }}
      <h3 class="text-md font-mono">BTC Burned: {{ $burntext }}{{ .BlockSummary.TotalLost.SatoshisToBTC true }} BTC{{ $burntext }}</h3>
    </div>
    <div class="p-4">
      <p>Theoretical Subsidy: {{ .TheoreticalSubsidy.SatoshisToBTC true }} BTC</p>
      <p>Theoretical Supply: {{ .TheoreticalSupply.SatoshisToBTC true }} BTC</p>
      {{ if .Block.IsFutureBlock }}
        <p>Not mined yet</p>
      {{ else }}
        <p>Fees Paid: {{ (Int64ToBTC .BlockStats.Totalfee).SatoshisToBTC true }} BTC</p>
        <p>Actual Subsidy: {{ .CoinStats.Coinbase.SatoshisToBTC true }} BTC</p>
      {{ end }}
    </div>
  </div>
    <table class="min-w-full bg-slate-950/30 border border-slate-700">
        <thead>
            <tr>
                <th class="text-start px-4 py-2 border-b border-slate-700">Transaction ID</th>
                <th class="text-start px-4 py-2 border-b border-slate-700">Amount</th>
            </tr>
        </thead>
        <tbody>
            {{ range .Losses }}
            <tr>
                <td class="px-4 py-2 border-b border-slate-700">
                  <a class="break-all text-sky-400/70 hover:underline hover:decoration-dotted hover:text-slate-200" href="/transaction/{{ .Txid }}">{{ .Txid }}</a>
                  {{ if eq .Coinbase true }}
                    <span class="has-tooltip">
                      <span class="tooltip rounded shadow-lg p-2 bg-black text-slate-200 mt-6">Miner loss</span>
                      ⛏️
                    </span>
                  {{ end }}
                </td>
                <td class="px-4 py-2 border-b border-slate-700">{{ .TotalLoss.SatoshisToBTC true }} BTC</td>
            </tr>
            {{ else }}
            <tr>
                <td colspan="5" class="px-4 py-2 border-b border-slate-700 text-center">No known losses in this block.</td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</div>
{{ end }}

