{{ define "footer" }}
<footer class="bg-gray-700 mt-8 p-4 text-center mt-auto">
  <p>Built by Raghav Sood.</p><p><a href="https://github.com/RaghavSood/btcsupply" class="hover:underline hover:text-slate-200 hover:decoration-dotted text-sky-400/70">btcsupply</a> is licensed under MIT.</p><p>The contents of this website are licensed under <span class="inline-flex"><a href="https://creativecommons.org/licenses/by-sa/4.0/?ref=chooser-v1" target="_blank" rel="license noopener noreferrer" class="hover:underline hover:text-slate-200 hover:decoration-dotted text-sky-400/70">CC BY-SA 4.0</a></span></p>
</footer>
{{ end }}

