{{ define "header" }}
<header class="">
<nav class="bg-gray-100 p-4 flex items-center justify-between">
        <div class="flex items-center space-x-3">
            <a class="text-3xl font-bold" href="/">Bitcoin Supply</a>
	    <br/>
        </div>
        <div class="flex-grow flex items-center justify-center space-x-4">
            <a href="#" class="font-mono hover:underline hover:text-white hover:bg-blue-500 hover:decoration-dotted nav-link">Blocks</a>
            <a href="#" class="font-mono hover:underline hover:text-white hover:bg-blue-500 hover:decoration-dotted nav-link">Transactions</a>
            <a href="#" class="font-mono hover:underline hover:text-white hover:bg-blue-500 hover:decoration-dotted nav-link">Stats</a>
        </div>
    </nav>
</header>
{{ end }}
