{{ define "header" }}
<header class="">
<nav class="p-4 flex items-center justify-between">
        <div class="flex items-center space-x-3">
            <a class="text-2xl font-medium" href="/">🔥<span class="text-xl">burned.money</span></a>
        </div>
        <div class="flex-grow flex items-center justify-center space-x-4">
            <a href="/blocks" class="hover:underline hover:text-slate-200 text-sky-400/70 hover:decoration-dotted nav-link">Blocks</a>
            <a href="#" class="hover:underline hover:text-slate-200 text-sky-400/70 hover:decoration-dotted nav-link">Transactions</a>
            <a href="/schedule" class="hover:underline hover:text-slate-200 text-sky-400/70 hover:decoration-dotted nav-link">Emission Schedule</a>
        </div>
        <div class="flex items-center space-x-3">
            <a href="/why" class="hover:underline hover:text-slate-200 text-sky-400/70 hover:decoration-dotted nav-link">Why?</a>
            <a href="/methodology" class="hover:underline hover:text-slate-200 text-sky-400/70 hover:decoration-dotted nav-link">How?</a>
        </div>
    </nav>
</header>
{{ end }}
