{{ define "content" }}
<div class="lg:container mx-auto p-4">
    <h1 class="text-2xl text-center font-bold mb-4">Track lost and destroyed BTC</h1>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
      <div class="border rounded-lg border-slate-700 bg-slate-950/30">
        <div class="p-4 bg-emerald-800/30">
          <p class="text-2xl font-medium">{{ .Stats.PlannedSupply.SatoshisToBTC true }} BTC</p>
          <h3 class="text-xs mb-4">Planned Supply</h3>
        </div>
        <div class="p-4">
          <p class="text-2xl font-medium">{{ .Stats.CirculatingSupply.SatoshisToBTC true }} BTC</p>
          <h3 class="text-xs mb-4">Circulating Supply</h3>
        </div>
        <div class="p-4">
          <p class="text-2xl font-medium">{{ .Stats.BurnedSupply.SatoshisToBTC true }} BTC</p>
          <h3 class="text-xs mb-4">Burned Supply</h3>
        </div>
      </div>
      <div class="border rounded-lg border-slate-700 bg-slate-950/30">
        <div class="p-4 bg-emerald-800/30">
          <p class="text-2xl font-medium">{{ .Stats.LastBlockHeight }}</p>
          <h3 class="text-xs mb-4">Last Block</h3>
        </div>
        <div class="p-4">
          <p class="text-2xl font-medium">{{ .Stats.BurnOutputCount }}</p>
          <h3 class="text-xs mb-4">Burned Outputs</h3>
        </div>
        <div class="p-4">
          <p class="text-2xl font-medium">{{ .Stats.BurnScriptsCount }}</p>
          <h3 class="text-xs mb-4">Burn Scripts Indexed</h3>
        </div>
      </div>
      <div class="border rounded-lg border-slate-700 bg-slate-950/30">
        <div class="p-4 bg-emerald-800/30">
          <p class="text-2xl font-medium">{{ printf "%.2f" .Stats.CurrentPrice  }}</p>
          <h3 class="text-xs mb-4 has-tooltip">
            <span class="tooltip rounded shadow-lg p-2 bg-black text-slate-200 mt-6">Recent BTCUSD Price from Kraken</span>
            Reference Price
          </h3>
        </div>
        <div class="p-4">
          <p class="text-2xl font-medium">{{ printf "%.2f" .Stats.AdjustedPrice }}</p>
          <h3 class="text-xs mb-4">Adjusted Fair Value</h3>
        </div>
        <div class="p-4">
          <p class="text-2xl font-medium">+{{ printf "%.2f" .Stats.PriceChange }}</p>
          <h3 class="text-xs mb-4">Burn Value Redistributed</h3>
        </div>
      </div>
    </div>
    <h2 class="text-xl font-medium mb-4 mt-4">Recent BTC Burns</h2>
    <table class="min-w-full bg-slate-950/30 border border-slate-700">
        <thead>
            <tr>
                <th class="text-start px-4 py-2 border-b border-slate-700">Transaction ID</th>
                <th class="text-start px-4 py-2 border-b border-slate-700">Block Height</th>
                <th class="text-start px-4 py-2 border-b border-slate-700">Amount</th>
            </tr>
        </thead>
        <tbody>
            {{ range .Losses }}
            <tr>
                <td class="px-4 py-2 border-b border-slate-700">
                  <a class="text-sky-400/70 break-all hover:underline hover:decoration-dotted hover:text-slate-200" href="/transaction/{{ .Txid }}">{{ .Txid }}</a>
                  {{ if eq .Coinbase true }}
                    ⛏️
                  {{ end }}
                </td>
                <td class="px-4 py-2 border-b border-slate-700"><a class="text-sky-400/70 hover:underline hover:decoration-dotted hover:text-slate-200" href="/block/{{ .BlockHeight }}">{{ .BlockHeight }}</a></td>
                <td class="px-4 py-2 border-b border-slate-700">{{ .TotalLoss.SatoshisToBTC true }} BTC</td>
            </tr>
            {{ else }}
            <tr>
                <td colspan="5" class="px-4 py-2 border-b border-slate-700 text-center">No recent losses found.</td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</div>
{{ end }}

