{{ define "note" }}
  {{ $bgcolour := "bg-sky-800/30" }}
  {{ if eq .Type "script" }}
    {{ $bgcolour = "bg-red-900/30" }}
  {{ else if eq .Type "nulldata" }}
    {{ $bgcolour = "bg-yellow-700/30" }}
  {{ end }}

  <div class="border rounded-lg border-slate-700 note-card font-sans grid grid-cols-1 {{ $bgcolour }} p-4 mb-2 gap-y-3">
    <p>{{ .Data | NoEscape }}</p>
    <a href="https://github.com/RaghavSood/btcsupply/blame/master/notes/{{ .Path }}" target="_BLANK" class="text-sm text-gray-400 hover:text-gray-200">View revision history</a>
  </div>
{{ end }}
