{{ define "content" }}
<div class="lg:container mx-auto p-4">
    <h2 class="text-xl font-bold">Top 500 Script Groups</h2>
    <div class="mb-4">
      <a href="/scripts" class="text-sky-400/70 hover:underline hover:decoration-dotted hover:text-slate-200">View Scripts</a>
    </div>
    <table class="min-w-full overflow-hidden bg-slate-950/30 border border-gray-700">
        <thead>
            <tr>
                <th class="text-start px-4 py-2 border-b border-slate-700">Group</th>
                <th class="text-start px-4 py-2 border-b border-slate-700">Scripts</th>
                <th class="text-start px-4 py-2 border-b border-slate-700">Transactions</th>
                <th class="text-start px-4 py-2 border-b border-slate-700">Total Lost</th>
            </tr>
        </thead>
        <tbody>
            {{ range .ScriptGroups }}
            <tr>
                <td class="px-4 py-2 border-b border-slate-700"><a class="text-sky-400/70 hover:underline hover:decoration-dotted hover:text-slate-200" href="/scriptgroup/{{ .ScriptGroup }}">{{ .ScriptGroup }}</a></td>
                <td class="px-4 py-2 border-b border-slate-700">{{ .Scripts }}</td>
                <td class="px-4 py-2 border-b border-slate-700">{{ .Transactions }}</td>
                <td class="px-4 py-2 border-b border-slate-700">{{ .TotalLoss.SatoshisToBTC true }} BTC</td>
            </tr>
            {{ else }}
            <tr>
                <td colspan="5" class="px-4 py-2 border-b text-center border-slate-700">No scripts found.</td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</div>
{{ end }}

