{{ define "content" }}
<div class="container mx-auto p-4">
    <div class="border rounded-lg border-slate-700 bg-slate-950/30 p-4 mb-4">
      <h1 class="text-2xl font-semibold break-words">Script <span class="select-all">{{ .ScriptSummary.Script }}</span></h1>
      <h3 class="text-lg text-gray-400 font-mono">Total Lost: {{ .ScriptSummary.TotalLoss.SatoshisToBTC true }} BTC</a></h3>
      <h3 class="text-lg text-gray-400 font-mono">Transactions: {{ .ScriptSummary.Transactions }}</a></h3>
    </div>
        <h3 class="text-lg font-medium mb-2">How did this Script burn BTC?</h3>
        <div class="mb-4">
            {{ range .Notes }}
                  {{ template "note" . }}
            {{ end }}
        </div>

        <table class="min-w-full bg-slate-950/30 border border-slate-700">
        <thead>
            <tr>
                <th class="text-start px-4 py-2 border-b border-slate-700">Transaction ID</th>
                <th class="text-start px-4 py-2 border-b border-slate-700">Amount</th>
            </tr>
        </thead>
        <tbody>
            {{ range .Transactions }}
            <tr>
                <td class="px-4 py-2 border-b border-slate-700"><a class="text-sky-400/70 hover:underline hover:decoration-dotted hover:text-slate-200" href="/transaction/{{ .Txid }}">{{ .Txid }}</a></td>
                <td class="px-4 py-2 border-b border-slate-700">{{ .TotalLoss.SatoshisToBTC true }} BTC</td>
            </tr>
            {{ else }}
            <tr>
                <td colspan="5" class="px-4 py-2 border-b border-slate-700 text-center">No known losses for this script.</td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</div>
{{ end }}

