{{ define "content" }}
<div class="lg:container mx-auto p-4">
  <h1 class="text-2xl font-semibold mb-4">Submit a Tip</h1>
  <div class="text-pretty border rounded-lg border-slate-700 bg-slate-950/30 p-4">
    <p class="mb-4">While every effort is made to keep this list up to date, it is impossible to pick up on all losses without your help.</p>
    <p class="mb-4">If you know of a transaction or address that destroys BTC and isn't covered here (simply try searching for it to check), you can submit a tip and help keep this list accurate and up to date.</p>
    <p class="mb-4">If you've personally lost access to a BTC address or wallet, or know someone who has, you can also submit a tip to help others avoid the same fate. Wallet ownership and provenance is kept confidential by default.</p>
    <h1 class="text-xl font-medium mb-4 mt-4">Information to include</h1>
    <p>Try and include as much information as possible, such as:</p>
    <ul class="list-disc ml-4 mb-4">
      <li>Transaction ID</li>
      <li>Address</li>
      <li>Amount</li>
      <li>A description of the loss if it isn't a common reason</li>
     </ul>
    <h1 class="text-xl font-medium mb-4 mt-4">Submitting a tip</h1>
    <p class=mb-4>Submit a tip over on the <a href="https://github.com/RaghavSood/btcsupply/issues" target="_blank" class="text-sky-400/70 hover:underline hover:decoration-dotted hover:text-slate-200">GitHub Repository</a>. Alternatively, if you wish to contact me over a more private channel, you can submit information via email at <a href="mailto:tips@burned.money" class="text-sky-400/70 hover:underline hover:decoration-dotted hover:text-slate-200">tips@burned.money</a>.</p>
  </div>
</div>
{{ end }}

