{{ define "content" }}
<div class="lg:container mx-auto p-4">
    <h2 class="text-xl font-bold mb-4">Transactions</h2>
    <div class="mb-4">
      {{ if .Coinbase }}
      <a href="/transactions" class="text-sky-400/70 hover:underline hover:decoration-dotted hover:text-slate-200">All Transactions</a>
      {{ else }}
      <a href="/transactions/coinbase" class="text-sky-400/70 hover:underline hover:decoration-dotted hover:text-slate-200">Coinbase Only</a>
      {{ end }}
    </div>
    <table class="min-w-full bg-slate-950/30 border border-slate-700">
        <thead>
            <tr>
                <th class="text-start px-4 py-2 border-b border-slate-700">Transaction ID</th>
                <th class="text-start px-4 py-2 border-b border-slate-700">Block Height</th>
                <th class="text-start px-4 py-2 border-b border-slate-700">Amount</th>
            </tr>
        </thead>
        <tbody>
            {{ range .Transactions }}
            <tr>
                <td class="px-4 py-2 border-b border-slate-700">
                  <a class="text-sky-400/70 break-all hover:underline hover:decoration-dotted hover:text-slate-200" href="/transaction/{{ .Txid }}">{{ .Txid }}</a>
                  {{ if eq .Coinbase true }}
                    <span class="has-tooltip">
                      <span class="tooltip rounded shadow-lg p-2 bg-black text-slate-200 mt-6">Miner loss</span>
                      ⛏️
                    </span>
                  {{ end }}
                </td>
                <td class="px-4 py-2 border-b border-slate-700"><a class="text-sky-400/70 hover:underline hover:decoration-dotted hover:text-slate-200" href="/block/{{ .BlockHeight }}">{{ .BlockHeight }}</a></td>
                <td class="px-4 py-2 border-b border-slate-700 has-tooltip">
                  {{ template "btcfiat" .TotalLoss }}
                  {{ .TotalLoss.SatoshisToBTC true }} BTC
                </td>
            </tr>
            {{ else }}
            <tr>
                <td colspan="5" class="px-4 py-2 border-b border-slate-700 text-center">No recent losses found.</td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</div>
{{ end }}

