{{ define "content" }}
<div class="container mx-auto p-4">
  <h2 class="text-xl font-bold mb-4">Transaction {{ .Transaction.Txid }}</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
          <!-- Transaction Inputs -->
          <div>
            <span class="text-xl font-semibold mb-4">Inputs</span>
            {{ range .Transaction.Vin }}
              <div class="bg-gray-100 p-4 mb-4">
                {{ if .Coinbase }}
                  <p class="break-words"><strong>Coinbase:</strong> {{ .Coinbase }}</p>
                {{ else }}
                  <div class="flex flex-row gap-x-2 text-wrap font-medium">
                    <span class="basis-9/12 break-words min-w-0">{{ .Prevout.ScriptPubKey | ScriptPubKeyDisplay }}</span>
                    <span class="text-right ml-auto">{{ (.Prevout.Value | ValueToBigInt).SatoshisToBTC true }} BTC</span>
                  </div>
                  <div class="flex gap-x-2 text-wrap text-sm text-gray-400 hover:text-gray-800">
                    <span class="basis-9/12 break-words min-w-0">{{ .Prevout.ScriptPubKey.Asm }}</span>
                    <span class="text-right ml-auto">{{ .Prevout.ScriptPubKey.Type }}</span>
                  </div>
                {{ end }}
              </div>
            {{ end }}
          </div>
          <!-- Transaction Outputs -->
          <div>
            <span class="text-xl font-semibold mb-4">Outputs</span>
            {{ range .Transaction.Vout }}
              {{ $bgc := "bg-gray-100" }}
              {{ $burnText := "" }}
              {{ if IsScriptInNotes .ScriptPubKey.Hex $.Notes }}
                {{ $bgc = "bg-red-100" }}
                {{ $burnText = "🔥" }}
              {{ end }}
              <div class="{{ $bgc }} p-4 mb-4 font-mono">
                <div class="flex flex-row gap-x-2 text-wrap font-medium">
                  <span class="basis-9/12 break-words min-w-0">{{ .ScriptPubKey | ScriptPubKeyDisplay }}</span>
                  <span class="text-right ml-auto">{{ $burnText }}{{ (.Value | ValueToBigInt).SatoshisToBTC true }} BTC{{ $burnText }}</span>
                </div>
                <div class="flex gap-x-2 text-wrap text-sm text-gray-400 hover:text-gray-800">
                  <span class="basis-9/12 break-words min-w-0">{{ .ScriptPubKey.Asm }}</span>
                  <span class="text-right ml-auto">{{ .ScriptPubKey.Type }}</span>
                </div>
              </div>
            {{ end }}
          </div>
        </div>

        <!-- Transaction-specific Notes -->
        <h3 class="text-lg font-semibold mb-2">How did this transaction burn BTC?</h3>
        <div class="mb-4">
            {{ range .Notes }}
                  {{ template "note" . }}
            {{ end }}
        </div>

        <div class="mb-4">
          <details>
            <summary class="text-lg font-semibold mb-2">Raw Transaction</summary>
            <pre><code class="language-json">{{ .Transaction | PrettyPrintJSON }}</code></pre>
          </details>
        </div>
</div>
{{ end }}

