{{ define "content" }}
<div class="lg:container mx-auto p-4">
  <h1 class="text-2xl font-semibold mb-4">But Why?</h1>
  <div class="text-pretty border rounded-lg border-slate-700 bg-slate-950/30 p-4">
    <p>Really, why not?</p>
    <h1 class="text-xl font-medium mb-4 mt-4">Creating a Resource</h1>
    <p><a href="/" class="text-sky-400/70 hover:underline hover:decoration-dotted hover:text-slate-200">burned.money</a> was created because I could not find an up-to-date and verifiable tracker of lost and destroyed BTC. While fragments of information existed, it was impossible to collate it and arrive at a reasonable guesstimate for the total amount of BTC lost or destroyed.</p>
    <h1 class="text-xl font-medium mb-4 mt-4">Mistake Have Been Made</h1>
    <p>Lost Bitcoin often tell a story - whether one of bugs in the protocol itself, user error, or attempts to build protocols that derive value from burning coins. This site aims to keep records, freely accessible to everyone under a permissive license, of what transpired and resulted in these losses.</p>
    <h1 class="text-xl font-medium mb-4 mt-4">Information Parity</h1>
    <p>By providing high-quality tracking of burned coins, I'm hopeful that everyone in the ecosystem can make use of this information, rather than just those with the resources to track it themselves.</p>
  </div>
</div>
{{ end }}

